.sect_time {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    margin: 0 auto 48px auto;

    gap: 24px;
    max-width: 1200px;
}

.art_time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    font-size: 14px;

    border: 1px solid var(--cor-principal);
    border-radius: 8px;

    padding: 24px;
    text-align: center;

    width: 65%;
}

.art_tarefa {
    display: flex;
    flex-direction: column;
    gap: 16px;

    border: 1px solid var(--cor-principal);
    border-radius: 8px;
    
    padding: 24px;
    text-align: center;

    width: 35%;

    position: relative;
}

.art_tarefa > button {
    position: absolute;
    bottom: 24px;
    right: 24px;
    left: 24px;
}

.linha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}