.sect_principal {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 48px 0;
    margin: auto;

    border-bottom: 1px solid #4e7ec546;
}

.img_principal {
    width: 30vw;
    height: auto;
}